<%= provide(:title, 'Add movement') %>
<h1>Add Movement</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="products-search">
      <input type="text" id="products-search-txt" autofocus>
      <div class="results" id="products-search-results"></div>
    </div>
    <%= form_for(@movement, url: movements_path) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :product_id %>

      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: 'form-control' %>

      <%= f.label :depot_id %>
      <%= f.text_field :depot_id, class: 'form-control', value: '1' %>

      <%= f.submit "Save product", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var counter = 0;


		$('#products-search-txt').typeahead({
					source: function(typeahead, query) {
						$.ajax({
							url: "/products",
							dataType: "json",
							type: "GET",
							data: {search_key: query},
							success: function(data) {
								var return_list = [], i = data.length;
									while (i--) {
									return_list[i] = {id: data[i].id, value: data[i].name, int_code: data[i].int_code, brand: data[i].brand, qty_package: data[i].qty_package, qta: data[i].qta };
									}
							typeahead.process(return_list);
							}
						});
					},
				onselect: function(obj) {
					if(counter == 10){
						alert("Numero massimo di prodotti: 10");
						return false;
					}
					// $('input[id="DossierClientId"]').val(obj.id);

					$('#MovName2').val('');
					$('#productInfo2').remove();
					$('#movement_product_id').val( obj.id );
					$('#MovIntCode').val( obj.int_code );
					$('#MovName').val( obj.value );
					$('#MovBrand').val( obj.brand );
					$('#MovQtyPackage').val( obj.qty_package );

				}
		});


	});
</script>
