<%= provide(:title, 'MagRails Test Project') %>

<div class="center jumbotron">
  <h1>MagRails Test Project</h1>

  <h2>
    This is my first test project with Rails.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
