<%= form_for(@product) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :product_code %>
  <%= f.text_field :product_code, class: "form-control" %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>

  <%= f.label :price %>
  <%= f.text_field :price, class: "form-control" %>

  <%= f.label :qtystock %>
  <%= f.number_field :qtystock, class: "form-control" %>

  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <%= f.submit "Save product", class: "btn btn-primary" %>
<% end %>
