<%= provide(:title, 'Products list') %>
<h1>All Products</h1>

<%= will_paginate %>

<table class="table table-bordered products">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Qty Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.product_code, product %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %> €</td>
        <td><%= product.qtystock %></td>
        <td>
          <%= link_to "Show", product %>
          <% if current_user.admin? %>
            | <%= link_to "Edit", edit_product_path(product) %> 
            | <%= link_to "Delete", product, method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
