<%= provide(:title, 'New Product') %>
<h1>New Product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>

<script type="text/javascript">
  $('#product_picture').bind('change', function() {
    var size_in_megabyte = this.files[0].size/1024/1024;
    if (size_in_megabyte > 1) {
      alert('Maximum file size is 1MB');
    }
  });
</script>
