<% provide(:title, 'Product details') %>
<h1>Product details: <%= @product.name %></h1>

<div class="row">
  <aside class="col-md-4">
    <section class="product_img">
      <%= image_tag @product.picture.url if @product.picture? %>
    </section>
    <section class="product_info">
      <p>Code: <%= @product.product_code %></p>
      <p>Name: <%= @product.name %></p>
      <p>Description: <%= @product.description %></p>
      <p>Price: <%= @product.price %></p>
      <p>Qty in Stock: <%= @product.qtystock %></p>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Movements</h3>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Date</th>
            <th>User</th>
            <th>Depot</th>
          </tr>
        </thead>
        <tbody>
          <% if @product.movements.any? %>
            <%= render @movements %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
