<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "MagRails", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <%= link_to fa_icon('cube', text: 'Add Movement') , new_movement_path %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cubes"></i> Products <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Add Product", new_product_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Login", login_path %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>
